<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!--extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="img/enilink/favicon.png"
            id="net.enilink.rap.branding"
            themeId="net.enilink.rap.design.fancy.theme"
            title="eniLINK">
         <presentationFactory
               defaultLayoutId="net.enilink.rap.design.fancy.layout"
               id="net.enilink.rap.design.fancy.factory"
               viewActionsVisible="true">
            <defaultStackPresentation
                  id="net.enilink.rap.design.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension-->
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.enilink.rap.workbench.ModelsView"
            icon="img/enilink/models.png"
            id="net.enilink.rap.workbench.modelsView"
            name="Models"
            restorable="true">
      </view>
      <view
            class="net.enilink.rap.workbench.AclView"
            icon="img/enilink/control-panel-access-icon.png"
            id="net.enilink.rap.workbench.aclView"
            name="Access control"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.enilink.rap.workbench.ModelsPerspective"
            icon="img/enilink/models.png"
            id="net.enilink.rap.workbench.basicPerspective"
            name="Models">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.enilink.rap.workbench.BasicModelEditor"
            contributorClass="net.enilink.rap.workbench.BasicModelEditorBarContributor"
            default="false"
            id="net.enilink.rap.workbench.modelEditor"
            matchingStrategy="net.enilink.rap.workbench.ModelEditorMatchingStrategy"
            name="Model Editor">
      </editor>
   </extension>
   
   <extension
         id="com.sun.security.auth.module.Krb5LoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="com.sun.security.auth.module.Krb5LoginModule"
            description="Kerberos LoginModule">
      </loginModule>
   </extension>

   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="net.enilink.security.callbackHandler"
            configName="Kerberos">
      </callbackHandlerMapping>
   </extension>
      <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="net.enilink.security.callbackHandler"
            configName="OpenID">
      </callbackHandlerMapping>
   </extension>
   
   	<extension
	      id="application"
	      point="org.eclipse.core.runtime.applications">
	   <application
	         cardinality="singleton-global"
	         thread="main"
	         visible="true">
	      <run
	            class="net.enilink.rap.workbench.Application">
	      </run>
	   </application>
	</extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="toolbar:net.enilink.rap.statusArea">
          <dynamic
                class="net.enilink.rap.workbench.auth.UserMenu"
                id="net.enilink.rap.workbench.auth.UserMenu">
          </dynamic>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.rap.ui.entrypoint">
       <entrypoint
             applicationId="net.enilink.rap.workbench.application"
             brandingId="net.enilink.rap.branding"
             id="net.enilink.rap.workbench.entrypoint"
             path="/workbench">
       </entrypoint>
       <entrypoint
             class="net.enilink.rap.internal.workbench.SnippetRunner"
             id="net.enilink.rap.internal.workbench.SnippetRunner"
             path="/snippet">
       </entrypoint>
    </extension>
    <extension
			id="net.enilink.security.callbackHandler"
			point="org.eclipse.equinox.security.callbackHandler">
		<callbackHandler
			class="net.enilink.rap.workbench.auth.LoginDialog">
		</callbackHandler>
	</extension>
	   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="net.enilink.rap.workbench.toolbar1">
            <command
                  commandId="net.enilink.rap.workbench.command.uploadModel"
                  icon="img/add-icon.png"
                  id="net.enilink.rap.workbench.addModelToolbar"
                  label="Add model"
                  style="pulldown"
                  tooltip="Adds a new model.">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="net.enilink.rap.workbench.basicPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.enilink.rap.workbench.command.uploadData"
                  icon="img/actions-file-upload-icon.png"
                  id="net.enilink.rap.workbench.uploadDataToolbar"
                  label="Upload data"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="net.enilink.rap.workbench.basicPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.enilink.rap.workbench.command.clearModel"
                  icon="img/delete-icon.png"
                  id="net.enilink.rap.workbench.clearModel"
                  label="Clear model"
                  style="push"
                  tooltip="Removes all data from the model.">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="net.enilink.rap.workbench.basicPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Edit">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:net.enilink.rap.workbench.addModelToolbar">
         <command
               commandId="net.enilink.rap.workbench.command.createModel"
               icon="img/actions-file-new-icon.png"
               label="Create model"
               style="pulldown">
         </command>
         <command
               commandId="net.enilink.rap.workbench.command.uploadModel"
               icon="img/actions-file-upload-icon.png"
               label="Upload model"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <control
               class="net.enilink.rap.workbench.ModelContextContribution">
         </control>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.enilink.rap.workbench.modelsView">
         <command
               commandId="net.enilink.rap.workbench.command.deleteModel"
               icon="img/delete-icon-16px.png"
               id="net.enilink.rap.workbench.deleteModel"
               label="Delete model"
               style="push"
               tooltip="Delete the model.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.enilink.rap.workbench.commands.UploadModelCommandHandler"
            id="net.enilink.rap.workbench.command.uploadModel"
            name="UploadModelCommand">
      </command>
      <command
            defaultHandler="net.enilink.rap.workbench.commands.CreateModelCommandHandler"
            id="net.enilink.rap.workbench.command.createModel"
            name="CreateModelCommand">
      </command>
      <command
            defaultHandler="net.enilink.rap.workbench.commands.UploadDataCommandHandler"
            id="net.enilink.rap.workbench.command.uploadData"
            name="UploadDataCommand">
      </command>
      <command
            defaultHandler="net.enilink.rap.workbench.commands.ClearModelCommandHandler"
            id="net.enilink.rap.workbench.command.clearModel"
            name="ClearModelCommand">
      </command>
      <command
            defaultHandler="net.enilink.rap.workbench.commands.DeleteModelCommandHandler"
            id="net.enilink.rap.workbench.command.deleteModel"
            name="DeleteModelCommand">
      </command>
   </extension>
</plugin>
